<app-default-login-layout
title="Login into your account"
primaryBtnText="Login Now"
secondaryBtnText="Sign Up Now"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!loginForm.valid"

>
<form [formGroup]="loginForm" >
  <app-primary-input
  formControlName="email"
  inputName="email"
  type="email"
  label="E-mail"
  placeholder="angel@gmail.com"
  >
    <img src="assets/svg/email-icon.svg" alt="email icon" />
  </app-primary-input>

  <app-primary-input
  formControlName="password"
  inputName="password"
  type="password"
  label="Password"
  >
    <img src="assets/svg/password-icon.svg" alt="email icon" />
  </app-primary-input>

<a>Forgot Password?</a>
</form>
</app-default-login-layout>
